<h1>Edit <%= @item.name %></h1>
<%= form_with model: @item, url: items_update_path do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :price, placeholder: "price" %>
  <%= form.submit 'Update'%>
<% end %>