<h1>Items</h1>
<table>
  <thead>
    <tr>
      <td><b>Name</b></td>
      <td><b>Price</b></td>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <div>
          <td>
            <%= link_to("Show", items_show_path(item.id)) %>
            <%= link_to("Edit", items_edit_path(item.id)) %>
            <%= link_to("Delete", items_delete_path(item.id), data: { confirm: 'Yakin ingin dihapus?' }, method: :delete) %>
          </td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/items/new">New Item</a>